<DOCTYPE! html>

<html>
	
	<head>
		<link type="text/css" href="/stylesheets/moogle.css" rel="Stylesheet" />
		<title>select a watchlist</title>
		
		<center>
			<a href="/">
			<div class="transparent" style="display:inline-block;">
				<img width="450" height="150" src="/images/logo.png" onmouseover="this.src='/images/logo-jump.png'" onmouseout="this.src='/images/logo.png'"/>
			</div>
			</a>
		</center>
		
	</head>
	
	<body>
		
		<!-- HTML for search bar / button -->
		<div style="text-align:center">
			<div id="search"> 
				<form action="/search?cat=All" method="post">
					<input type="text" name="query">
					<input type="submit" name="searchButton" value="search"> 
				</form>
			</div>
		</div>
		
		<!-- Login / Sign Up html -->
		{% if user is none %}
		<div style="text-align:center">
			<div class="transparent">
				&nbsp;&nbsp;
				<a href="/login">Log In</a> | <a href="/signup">Sign Up</a> | <a href="/herdmembership">Herd Member</a> 
				&nbsp;&nbsp;
			</div>
		</div>
		{% else %}
		<div style="text-align:center">
			<div class="transparent">
				&nbsp;&nbsp;
				<a href="/myaccount"> {{ user['username'] }} ({{ user['name'] }})</a> | <a href="/sellitem">Sell</a> | <a href="/herdmembership">Herd Member</a> | <a href="/logout">Logout</a>
				&nbsp;&nbsp;
			</div>
		</div>
		{% endif %}
	
		<br>
		<center>
			<div class="transparent" style="display:inline-block; width:600px; height:450px;">
				<center>
					<h2>Select a Watchlist</h2>
					<br><br>
					{% if watchlists|length > 0 %}
						<form method="post">
							{% for watchlist in watchlists %}
								<input type="radio" name="name" value="{{watchlist}}" checked> {{watchlist}}
							{% endfor %}
							<br>
							<br>
					
							<input type="submit" value="Submit" />
							<input type="hidden" value="{{item}}" name="item" />
						</form>
					{% else %}
						<font color="red">You have no watchlists. Create one by going to your account.</font>
					{% endif %}
				</center>
			</div>
		</center>
	</body>
	
	<br><br>
	<footer>
		<div style="text-align:center">
			<div id="footer-table" class="transparent">
				<table width="900">
					<tbody>
						<tr>
							<th>Get to Know Us</th>
							<th>Making Cash Money</th>
							<th>Your Stuff</th>
						</tr>
						<tr style="text-align:center">
							<td> <a href="/message?title={{urlencode('About Moogle')}}&message={{urlencode('We are an online store.\nThere is a cow.\nThat is all.')}}">About Moogle</a> </td>
							<td> <a href="/message?title={{urlencode('Selling on Moogle')}}&message={{urlencode('Log in to your account.\nPress the Sell link.')}}">Selling on Moogle</a> </td>
							<td> <a href="/myacount">Your Account</a> </td>
						</tr>
						<tr style="text-align:center">
							<td> <a href="/message?title={{urlencode('Whos the Cow')}}&message={{urlencode('We dont know. He just showed up and wont go away.')}}">Who's the Cow?</a> </td>
							<td> <a href="/message?title={{urlencode('Sales vs. Auctions')}}&message={{urlencode('One is a sale and the other is an auction. You already know the difference.')}}">Sales vs. Auctions</a> </td>
							<td> <a href="">Your Orders</a> </td>
						</tr>
						<tr style="text-align:center">
							<td> <a href="/message?title={{urlencode('Member of the Herd')}}&message={{urlencode('Pay a one-time fee of $60 and get 10% off all sale items.')}}">Member of the Herd</a> </td>
							<td> <a href="/message?title={{urlencode('Making/Receiving Payments')}}&message={{urlencode('Buy an item and we will deduct its price from your card. Post an auction item and we will add the money you make to your card.')}}">Making/Receiving Payments</a> </td>
							<td> <a href="">Your Watchlists</a> </td>
						</tr>
					</tbody>
				</table>
			</div> 
		</div>
	</footer>
	
</html>
