<DOCTYPE! html>

<html>
	
	<head>
		<link type="text/css" href="/stylesheets/moogle.css" rel="Stylesheet" />
		<title>moogle</title>
		
		<center>
			<a href="/">
			<div class="transparent" style="display:inline-block;">
				<img width="450" height="150" src="/images/logo.png" onmouseover="this.src='/images/logo-jump.png'" onmouseout="this.src='/images/logo.png'"/>
			</div>
			</a>
		</center>
		
	</head>

	<body>

		<!-- HTML for search bar / button -->
		<div style="text-align:center;">
			<div id="search">
				<form>
					<input type="text" name="searchBar">
					<input type="submit" name="searchButton" value="search">
				</form>
			</div>
		</div>

		<!-- Login / Sign Up html -->
		{% if user is none %}
		<div style="text-align:center">
			<div class="transparent">
				&nbsp;&nbsp;
				<a href="/login">Log In</a> | <a href="">Sign Up</a> | <a href="">Herd Member</a> 
				&nbsp;&nbsp;
			</div>
		</div>
		{% else %}
		<div style="text-align:center">
			<div class="transparent">
				&nbsp;&nbsp;
				<a href=""> {{ user['username'] }} ({{ user['name'] }})</a> | <a href="">Sell</a> | <a href="">Herd Member</a> | <a href="/logout">Logout</a>
				&nbsp;&nbsp;
			</div>
		</div>
		{% endif %}

		<br>

			<div class="transparent" style="vertical-align:top;">
				<table>
					<tbody>
						<tr>
							<td>
								<h3> {{ item['title'] }} </h3>
							</td>

							<td>
									<h4 style="float: right; margin-right: 2.6em">Current Price: ${{ item['max_bid'] }}</h4>
							</td>
						</tr>
								<tr>
									<td> <img width="300" height="300" src="{{ item['image'] }}"/> </td>
									<td>
										Description:
										<ul>
											<li> {{ item['description'] }} </li>
										</ul>
											<input type="button" value="Place Bid" style="float: right; margin-right: 5.6em">
											<input type="text" name="bid" value="14000" style="float: right;"/>

									</td>
								</tr>
					</tbody>
				</table>
			</div>

		<div class="transparent" style="width:100%; margin-top: .6em">
			<table cellspacing="0" style="width:100%; border-collapse:collapse; border-spacing: 0;">
				<tbody>
					<tr>
							<th> Related Items:</th>
					</tr>
					<tr>
					
					</tr>
				</tbody>
			</table>
		</div>

	</body>

	<br> <br>
	<footer>
		<div style="text-align:center">
			<div id="footer-table" class="transparent">
				<table width="900">
					<tbody>
						<tr>
							<th>Get to Know Us</th>
							<th>Making Cash Money</th>
							<th>Your Stuff</th>
						</tr>
						<tr style="text-align:center">
							<td> <a href="">About Moogle</a> </td>
							<td> <a href="">Selling on Moogle</a> </td>
							<td> <a href="">Your Account</a> </td>
						</tr>
						<tr style="text-align:center">
							<td> <a href="">Who's the Cow?</a> </td>
							<td> <a href="">Sales vs. Auctions</a> </td>
							<td> <a href="">Your Orders</a> </td>
						</tr>
						<tr style="text-align:center">
							<td> <a href="">Member of the Herd</a> </td>
							<td> <a href="">Making/Receiving Payments</a> </td>
							<td> <a href="">Your Watchlists</a> </td>
						</tr>
					</tbody>
				</table>
			</div>
		</div> 
	</footer>

</html>
