<DOCTYPE! html>

<html>
	
	<head>
		<link type="text/css" href="/stylesheets/moogle.css" rel="Stylesheet" />
		<title>moogle</title>
		
		<center>
			<a href="/">
			<div class="transparent" style="display:inline-block;">
				<img width="450" height="150" src="/images/logo.png" onmouseover="this.src='/images/logo-jump.png'" onmouseout="this.src='/images/logo.png'"/>
			</div>
			</a>
		</center>
		
	</head>

	<body>

		<!-- HTML for search bar / button -->
		<div style="text-align:center;">
			<div id="search">
				<form action="/search" method="post">
					<input type="text" name="query">
					<input type="submit" name="searchButton" value="search">
				</form>
			</div>
		</div>

		<!-- Login / Sign Up html -->
		{% if user is none %}
		<div style="text-align:center">
			<div class="transparent">
				&nbsp;&nbsp;
				<a href="/login">Log In</a> | <a href="/signup">Sign Up</a> | <a href="/herdmembership">Herd Member</a> 
				&nbsp;&nbsp;
			</div>
		</div>
		{% else %}
		<div style="text-align:center">
			<div class="transparent">
				&nbsp;&nbsp;
				<a href="/myaccount"> {{ user['username'] }} ({{ user['name'] }})</a> | <a href="/sellitem">Sell</a> | <a href="/herdmembership">Herd Member</a> | <a href="/logout">Logout</a>
				&nbsp;&nbsp;
			</div>
		</div>
		{% endif %}
		<br>
		<div style="text-align:center">
			<div class="transparent">
				<h3>&nbsp;&nbsp;&nbsp;Auction&nbsp;&nbsp;&nbsp;</h3>
			</div>
		</div>

		<br>

			<div class="transparent" style="vertical-align:top; width:100%;">
				<h2> {{ item['title'] }} </h2>
				
				<img style="float:left" class="big_item_pic" src="{{ item['image'] }}"/>
				
				<br>
				
				<div id="clockdiv">
					<div>
						<span class="days"></span>
						<div class="smalltext">Days</div>
					</div>
					<div>
						<span class="hours"></span>
						<div class="smalltext">Hours</div>
					</div>
					<div>
						<span class="minutes"></span>
						<div class="smalltext">Minutes</div>
					</div>
					<div>
						<span class="seconds"></span>
						<div class="smalltext">Seconds</div>
					</div>
				</div>
								
				<input type="hidden" id="enddate" value="{{ item['end_date'] }}" />
				<script src="/js/timer.js"></script>
				
				<br><br><br>
				
				<b>Seller: {{ seller }}</b> <br>
				<b>Current Price: ${{ max_bid['amount'] }}</b>	
				
				<br><br>
				
				<form method="get" action="/verifybid">
					<input type="text" name="bid"/>
					<input type="submit" value="Place Bid">
					<input type="hidden" name="seller" value="{{seller}}" />
					<input type="hidden" name="item" value="{{item['id']}}" />
				</form>
								
				<form method="get" action="/addtowatchlist">
					<input type="submit" value="Add to Watchlist">
					<input type="hidden" value="{{item['id']}}" name="item" />
				</form>	
				
				<div style="float:left">
					<br><br>
					<b>Description:</b> <br>
					{{ item['description'] }}
					<br><br>
				</div>
			</div>

		<div class="transparent" style="width:100%; margin-top: .6em">
			<table style="border-collapse: collapse;">
				<tbody>
					<tr>
							<th> Related Items:</th>
					</tr>
					<tr>
						{% for related_item in related_items %}
						<td>
							<div style="text-align:center; display:table; width:1px;">
								<a href="/item?id={{ related_item['id'] }}">
								<figure>
									<div> <img class="item_pic" src="{{ related_item['image'] }}" /> </div>
									<figcaption style="text-align: center;"> 
										{{ related_item['title'] }} </a> <br>
										({{ related_item['category'] }})
									</figcaption>
								</figure>
							</div>
						</td>
							{% if loop.index > 5 %}{% break %}{% endif %}
						{% endfor %}
					</tr>
				</tbody>
			</table>
		</div>

	</body>

	<br> <br>
	<footer>
		<div style="text-align:center">
			<div id="footer-table" class="transparent">
				<table width="900">
					<tbody>
						<tr>
							<th>Get to Know Us</th>
							<th>Making Cash Money</th>
							<th>Your Stuff</th>
						</tr>
						<tr style="text-align:center">
							<td> <a href="/message?title={{urlencode('About Moogle')}}&message={{urlencode('We are an online store.\nThere is a cow.\nThat is all.')}}">About Moogle</a> </td>
							<td> <a href="/message?title={{urlencode('Selling on Moogle')}}&message={{urlencode('Log in to your account.\nPress the Sell link.')}}">Selling on Moogle</a> </td>
							<td> <a href="/myaccount">Your Account</a> </td>
						</tr>
						<tr style="text-align:center">
							<td> <a href="/message?title={{urlencode('Whos the Cow')}}&message={{urlencode('We dont know. He just showed up and wont go away.')}}">Who's the Cow?</a> </td>
							<td> <a href="/message?title={{urlencode('Sales vs. Auctions')}}&message={{urlencode('One is a sale and the other is an auction. You already know the difference.')}}">Sales vs. Auctions</a> </td>
							<td> <a href="">Your Orders</a> </td>
						</tr>
						<tr style="text-align:center">
							<td> <a href="/message?title={{urlencode('Member of the Herd')}}&message={{urlencode('Pay a one-time fee of $60 and get 10% off all sale items.')}}">Member of the Herd</a> </td>
							<td> <a href="/message?title={{urlencode('Making/Receiving Payments')}}&message={{urlencode('Buy an item and we will deduct its price from your card. Post an auction item and we will add the money you make to your card.')}}">Making/Receiving Payments</a> </td>
							<td> <a href="">Your Watchlists</a> </td>
						</tr>
					</tbody>
				</table>
			</div> 
		</div>
	</footer>

</html>
