<DOCTYPE! html>

<html>
	
	<head>
		<link type="text/css" href="/stylesheets/moogle.css" rel="Stylesheet" />
		<title>moogle</title>
		
		<center>
			<a href="/">
			<div class="transparent" style="display:inline-block;">
				<img width="450" height="150" src="/images/logo.png" onmouseover="this.src='/images/logo-jump.png'" onmouseout="this.src='/images/logo.png'"/>
			</div>
			</a>
		</center>
		
	</head>
	
	<body>
		
		<!-- HTML for search bar / button -->
		<div style="text-align:center">
			<div id="search"> 
				<form>
					<input type="text" name="searchBar">
					<input type="submit" name="searchButton" value="search"> 
				</form>
			</div>
		</div>
		
		<!-- Login / Sign Up html -->
		{% if user is none %}
		<div style="text-align:center">
			<div class="transparent">
				&nbsp;&nbsp;
				<a href="/login">Log In</a> | <a href="">Sign Up</a> | <a href="">Herd Member</a> 
				&nbsp;&nbsp;
			</div>
		</div>
		{% else %}
		<div style="text-align:center">
			<div class="transparent">
				&nbsp;&nbsp;
				<a href=""> {{ user['username'] }} ({{ user['name'] }})</a> | <a href="">Sell</a> | <a href="">Herd Member</a> | <a href="/logout">Logout</a>
				&nbsp;&nbsp;
			</div>
		</div>
		{% endif %}
		
		{% if currentCategory != 'All' %}
		<br>
		
		<div style="text-align:center">
			<div class="transparent">
				<h3>&nbsp;&nbsp;&nbsp;{{currentCategory}}&nbsp;&nbsp;&nbsp;</h3>
			</div>
		</div>
		{% endif %}
		
		<!-- HTML for the category list -->
		<br>
		<div id="category-table" class="transparent" style="vertical-align:top;">
			<table>
				<tbody>
					<tr> <td> <h3>Category</h3> </td> </tr>
					{% for category in categories %}
						{% if category['parent'] == currentCategory %}
							<tr>
								<td> <a href="/category?cat={{urlencode(category['name'])}}">{{ category['name'] }}</a> </td>
							</tr>
						{% endif %}
					{% endfor %}
					
				</tbody>
			</table>
		</div>
		
		<!-- HTML for the items -->
		<div id="items-table" class="transparent">
			<table style="border-collapse: collapse;">
				<tbody>
					<tr>
					{% for item in items %}
						
						<td>
							<div style="text-align:center; display:table; width:1px;">
								<a href="/item?id={{ item['id'] }}">
								<figure>
									<div> <img class="item_pic" src="{{ item['image'] }}" /> </div>
									<figcaption style="text-align: center;"> 
										{{ item['title'] }} </a> <br>
										({{ item['category'] }})
									</figcaption>
								</figure>
							</div
						</td>
						
						{% if loop.index%4 == 0 %}
							</tr> <tr>
						{% endif %}
						
						{% if loop.index > 19 %}{% break %}{% endif %}
					{% endfor %}
					</tr>
				</tbody>
			</table>
		</div>
		
	</body>
	
	<br><br>
	<footer>
		<div style="text-align:center">
			<div id="footer-table" class="transparent">
				<table width="900">
					<tbody>
						<tr>
							<th>Get to Know Us</th>
							<th>Making Cash Money</th>
							<th>Your Stuff</th>
						</tr>
						<tr style="text-align:center">
							<td> <a href="">About Moogle</a> </td>
							<td> <a href="">Selling on Moogle</a> </td>
							<td> <a href="">Your Account</a> </td>
						</tr>
						<tr style="text-align:center">
							<td> <a href="">Who's the Cow?</a> </td>
							<td> <a href="">Sales vs. Auctions</a> </td>
							<td> <a href="">Your Orders</a> </td>
						</tr>
						<tr style="text-align:center">
							<td> <a href="">Member of the Herd</a> </td>
							<td> <a href="">Making/Receiving Payments</a> </td>
							<td> <a href="">Your Watchlists</a> </td>
						</tr>
					</tbody>
				</table>
			</div> 
		</div>
	</footer>
	
</html>
