<DOCTYPE! html>

<html>
	<head>
		<link type="text/css" href="/stylesheets/moogle.css" rel="Stylesheet" />
		<title>congratulations!</title>
	</head>
	
	<body>
		<br><br><br>
		<center>
			<div class="transparent" style="display:inline-block; width:600px; height:550px;">
				<center>
					<h2>congratulations!</h3>
					<br> <br>
						
					<a href="/"> <img src="/images/carl_ellie.gif" /> </a>
					<br>
					<h4>You're in a club now.</h4>
					<br>
					<h5>We'll send a confirmation email soon.</h5>
					<a href="/">home</a>
						
					<br><br><br><br>
				</center>
			</div>
		</center>
	</body>

</html>
