<DOCTYPE! html>

<html>
	<head>
		<link type="text/css" href="/stylesheets/moogle.css" rel="Stylesheet" />
		<title>sign up</title>
	</head>
	
	<body>
		<br><br><br>
		<center>
			<div class="transparent" style="display:inline-block; width:400px; height:1300px;">
				<form method="post">
					<center>
						<h2>sign up.</h3>
						<br> <br>
						
						<div>
						full name <br>
						<input type="text" name="fullname" style="border: 1px solid black; border-radius: 5px;">
						</div>
						
						<br>
						
						<div>
						email <br>
						<input type="text" name="email" style="border: 1px solid black; border-radius: 5px;">
						</div>
						
						<br>
						
						<div>
						username <br>
						<input type="text" name="username" style="border: 1px solid black; border-radius: 5px;">
						</div>
						
						<br>
						
						<div>
						password <br>
						<input type="password" name="password" style="border: 1px solid black; border-radius: 5px;">
						</div>
						
						<br>
						
						<div>
						gender <br>
						<input type="radio" name="gender" value="male" checked> Male &nbsp;&nbsp;
  						<input type="radio" name="gender" value="female"> Female<br>
						</div>
						
						<br>
						
						<div>
						birthdate <br>
						Day:<input size="2" type="text" name="day" style="border: 1px solid black; border-radius: 5px;">
						Month:<input size="2" type="text" name="month" style="border: 1px solid black; border-radius: 5px;">
						Year:<input size="4" type="text" name="year" style="border: 1px solid black; border-radius: 5px;">
						</div>
						
						<br>
						
						<div>
						street <br>
						<input type="text" name="street" style="border: 1px solid black; border-radius: 5px;">
						</div>
						
						<br>
						
						<div>
						city <br>
						<input type="text" name="city" style="border: 1px solid black; border-radius: 5px;">
						</div>
						
						<br>
						
						<div>
						state <br>
						<input type="text" name="state" style="border: 1px solid black; border-radius: 5px;">
						</div>
						
						<br>
						
						<div>
						zipcode <br>
						<input type="text" name="zipcode" style="border: 1px solid black; border-radius: 5px;">
						</div>
						
						<br>
						
						<div>
						phone <br>
						<input type="text" name="phone" style="border: 1px solid black; border-radius: 5px;">
						</div>
						
						<br>
						
						<div>
						income <br>
						<input type="text" name="income" style="border: 1px solid black; border-radius: 5px;">
						</div>
						
						<br>
						
						<div>
						credit card <br>
						<input type="text" name="card_num" style="border: 1px solid black; border-radius: 5px;">
						<select name="card_type">
  							<option value="Discover">Discover</option>
  							<option value="Mastercard">Mastercard</option>
  							<option value="Visa">Visa</option>
  						</select>
						</div>
						
						<br>
						
						<font color="red">{{ msg }}</font>
						
						<br>
						<div>
							<input type="submit" value="enter"> <br>
						</div>
						
						<br> <br>
						<a href="/"> <img src="/images/cow_disco.png" /> </a>
						
						<br><br><br><br>
					</center>
				</form>
			</div>
		</center>
	</body>

</html>
