<DOCTYPE! html>
<html>
	<head>
		<link type="text/css" href="/stylesheets/moogle.css" rel="Stylesheet" />
		<title>TESTING</title>
		<div class="transparent"><center><h1>Database Items</h1></center></div> 
	</head>
	
	<body>
		<div class="transparent">
		<table style="border: 1px solid black">
			<tbody>
				{% for item in items %}
					<tr>
						<td><img class="item_pic" src="{{ item['image'] }}" /></td>
						<td>
							<figcaption>
								{{ item['title'] }} <br><br> ({{ item['category'] }}, QTY:{{ item['quantity'] }}) 
							</figcaption>
						</td>
						<td>{{ item['description'] }}</td>
					</tr> 
				{% endfor %}
			</tbody>
		</table>
		</div>
	</body>

</html>
