<DOCTYPE! html>

<html>
	<head>
		<link type="text/css" href="stylesheets/moogle.css" rel="Stylesheet" />
		<title>moogle</title>

		<left>
			<a href="/">
			<div class="transparent" style="display:inline-block;">
				<img width="250" height="100" src="images/logo.png" onmouseover="this.src='images/logo-jump.png'" onmouseout="this.src='images/logo.png'"/>
			</div>
			</a>
		</left>

	</head>

	<body>

		<!-- HTML for search bar / button -->
		<div style="text-align:center;">
			<div id="search">
				<form>
					<input type="text" name="searchBar">
					<input type="submit" name="searchButton" value="search">
				</form>
			</div>
		</div>
           
                <!-- Profile Account Information --> 
		<h1> Your Account </h1>
			<table width="1200">
				<thead>
					<tr>
						<th> <h3> Account Information </h3> </th>
						<th> <h3> Your Orders </h3> </th>
						<th> <h3> Claims </h3> </th>
						<th> <h3> Settings </h3> </th>
					</tr>
                </thead>

                <tbody>
						
					<tr style="text-align:center">
						<td style="font-size: 14px"> Username: </td>
						<td style="font-size: 14px"> <a href=""> Recent Orders </a> </td>
						<td style="font-size: 14px"> <a href=""> Start a Claim </a> </td>
						<td style="font-size: 14px"> <a href=""> General Settings </a> </td>
					</tr>

					<tr style="text-align:center">
						<td style="font-size: 14px"> Email: </td> 
						<td style="font-size: 14px"> <a href="">  Closed Orders </a> </td>
						<td style="font-size: 14px"> <a href=""> Claim Status </a> </td>
						<td style="font-size: 14px"> <a href=""> Account Settings </a> </td>
					</tr>

					<tr style="text-align: center">
						<td style="font-size: 14px"> Herd Member: </td>
						<td style="font-size: 14px"> <a href=""> Track Your Order </a> </td>
						<td style="font-size: 14px"> <a href=""> Recent Claims </a> </td>
					</tr>
				</tbody>
			</table>
    </body>
	
	<br><br></br></br>
	<footer>
		<div style="text-align:center">
			<div id="footer-table" class="transparent">
				<table width="1300">
					<tbody>
						
						<tr>
							<th>Get to Know Us</th>
							<th>Making Cash Money</th>
							<th>Your Stuff</th>
						</tr>
						
						<tr style="text-align:center">
							<td> <a href="">About Moogle</a> </td>
							<td> <a href="">Selling on Moogle</a> </td>
							<td> <a href="">Your Account</a> </td>
						</tr>
						
						<tr style="text-align:center">
							<td> <a href="">Who's the Cow?</a> </td>
							<td> <a href="">Sales vs. Auctions</a> </td>
							<td> <a href="">Your Orders</a> </td>
						</tr>
						
						<tr style="text-align:center">
							<td> <a href="">Member of the Herd</a> </td>
							<td> <a href="">Making/Receiving Payments</a> </td>
							<td> <a href="">Your Watchlists</a> </td>
						
						</tr>
					
					</tbody>
				
				</table>
			
			</div> 
		
		</div>
	
	</footer>
	
</html>
