
body {
	background-image: url("/images/cow-background.jpg");
	background-repeat:repeat;
}

.transparent{
	background:rgba(255,255,255,0.95);
	border: 1px solid black;
	display:inline-block;
    border-radius: 5px;
}

#logo {
	max-width:75%;
	max-height:75%;
}

.item_pic {
	height: 200px;
    width: 140px;
    display: inline-block;
    border-radius: 5px;
	margin:15px;
}

#category-table {
	width:200px;
}

ul {
	word-wrap: break-word;
}

figure {
	display: block;
	margin: 5px;
	padding:5px;
}
